*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background: radial-gradient(circle,#000,#020024);
color:white;
min-height:100vh;
}

.center{
display:flex;
justify-content:center;
align-items:center;
}

.main-btn{
padding:20px 40px;
background:#0ff;
color:black;
border-radius:30px;
text-decoration:none;
font-size:20px;
}

.login-box{
width:300px;
margin:100px auto;
padding:30px;
background:rgba(0,0,0,0.7);
border-radius:20px;
text-align:center;
}

.input-box{
position:relative;
margin:20px 0;
}

.input-box input{
width:100%;
padding:10px;
background:transparent;
border:none;
border-bottom:2px solid #0ff;
color:white;
outline:none;
}

.input-box input:focus{
outline:none;
box-shadow:none;
}

.input-box label{
position:absolute;
top:-10px;
left:0;
font-size:12px;
color:#0ff;
}

.input-box span{
position:absolute;
right:0;
top:10px;
cursor:pointer;
}

button{
width:100%;
padding:10px;
background:#0ff;
border:none;
border-radius:20px;
cursor:pointer;
}

#toast{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
padding:10px 20px;
border-radius:10px;
opacity:0;
transition:0.3s;
}

#toast.show{
opacity:1;
}

/* داشبورد */
.top-bar{
padding:20px;
display:flex;
justify-content:flex-end;
}

.logout{
background:red;
padding:10px 20px;
border:none;
border-radius:20px;
cursor:pointer;
}

.container{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
padding:40px;
perspective:1000px;
}

.card{
background:#111;
border-radius:20px;
overflow:hidden;
text-align:center;
transition:0.5s;
transform-style:preserve-3d;
text-decoration:none;
color:white;
}

.card img{
width:100%;
height:150px;
object-fit:cover;
}

.card:hover{
transform:rotateY(15deg) scale(1.05);
box-shadow:0 0 30px #0ff;
}